*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/*navbar*/
.title{
  font-size: 30px;
  color: #fff;
  margin-right: 400px;
  font-weight: bold;
}

.navbar{
  background-color:rgba(152, 206, 221, 0.6);
  height: 8rem;
}

.search-bar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input{
  border: 0;
  outline: 0;
  padding: 15px 22px;
  flex: 1;
  margin-right: 35px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 80px;
  background-color:#fff;
  color: rgba(55, 53, 53, 0.854);
}

.search-bar button{
  border: 0;
  outline: 0;
  background-color:#fff;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  cursor: pointer;

}

.search-bar button img{
  width: 30px;
}

/*weather section*/

.weather{
  max-width: 500px;
  background: rgba(152, 206, 221, 0.5);
  padding: 30px;
  margin: 150px auto;
  border-radius: 20px;
  align-items: center;
}

.weather-degree{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather .icon{
  margin-top: 20px;
  width: 160px;
}

.weather h1{
  font-size: 70px;
  font-weight: 500px;
}

.weather h2{
  font-size: 40px;
  font-weight: 400px;
}

.detail{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 100px;
  margin-top: 50px;
}

.col{
  display: flex;
  align-items: center;
  justify-content: center;
}

.humidity, .wind{
  font-size: 27px;
}

.humidityPercentage{
  justify-content: center;
}

.error{
  color: rgb(114, 106, 106);
  margin-top: 10px;
  margin-left: 20px;
  display: none;
}

/*responsive*/

@media screen and (width < 768px) {
 .weather{
  width: 350px;
 }

 .weather h1{
  font-size: 50px;
  font-weight: 500px;
}

.weather h2{
  font-size: 30px;
  font-weight: 400px;
}
.humidity, .wind{
  font-size: 20px;
}

}